1.What are data structures, and why are they important?
  - Data structures are methods of organizing and storing data so it can be used efficiently. Examples include lists, stacks, queues, trees, and dictionaries.
  - **Why are They Important**
  1. Efficiency : The right structure makes programs faster and reduces memory use.
  2. Problem Solving : Many real-world problems depend on efficient data structures.
  3. Maintainability :  Organized data makes code easier to manage.
  4. Career Relevance : They are a core topic in technical interviews at top companies.

2.Explain the difference between mutable and immutable data types with examples?
  - Mutable vs Immutable Data Types in Python
  1. **Mutable Data Types**
     - Can be changed after creation (values, elements, or structure).
     - Modifications happen in place without creating a new object.
     - Examples:
     - ```
       # List (mutable)
       a = [1, 2, 3]
       a[0] = 10
       print(a)  # Output: [10, 2, 3]
       ```
     - Here, the list a is modified directly.
     - Other mutable types: list, dict, set, bytearray.

  2. **Immutable Data Types**
    - Cannot be changed after creation.
     - Any “modification” creates a new object in memory.
     - Examples:
     - ```
       # String (immutable)
       s = "hello"
       s = s.replace("h", "H")
       print(s)  # Output: "Hello"
       ```
     - Here, a new string "Hello" is created; the original "hello" is untouched.
     - Other immutable types: int, float, str, tuple, frozenset, bytes.

3.What are the main differences between lists and tuples in Python?
  - List: Mutable, slower due to dynamic resizing, uses more memory.
  - Tuple: Immutable, faster to access, uses less memory. Tuples are often used for fixed collections of items, while lists are suited for dynamic data.

4.Describe how dictionaries store data.
  - Dictionaries use hash tables where a key is hashed into an index pointing to its value. This provides average O(1) time for lookups, insertions, and deletions. Collisions are managed using open addressing or chaining internally.

5.Why might you use a set instead of a list in Python?
  - Sets store only unique elements and offer faster membership checks. Searching in sets is average O(1), compared to O(n) in lists. They are useful when working with large collections that require deduplication.

6.What is a string in Python, and how is it different from a list?
  - A string is an immutable sequence of characters. A list is a mutable sequence that can contain elements of any type. Strings cannot be changed in place, whereas lists can.

7.How do tuples ensure data integrity in Python?
  - Tuples are immutable, preventing accidental modification. This ensures reliability when storing fixed data like coordinates, configuration values, or records. Their immutability provides consistency across a program.

8.What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table maps keys to values using hash functions to compute storage indices. Dictionaries in Python are implemented using hash tables, allowing constant-time average lookups and efficient storage.

9.Can lists contain different data types in Python?
  - Yes, lists can hold heterogeneous data, such as [1, "hello", 3.5]. This flexibility makes them versatile. However, homogeneous lists are generally better for performance and clarity.

10.Explain why strings are immutable in Python.
   - Strings are immutable for memory efficiency, security, and hashability. They enable safe reuse in multiple places in memory and allow strings to be stored in sets and used as dictionary keys.

11.What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries provide faster lookups using keys, while lists rely on index-based or sequential searches. They allow direct key-value mapping, avoiding duplicate keys and simplifying data organization.

12.Describe a scenario where using a tuple would be preferable over a list.
   - Tuples are preferable when storing fixed data that should not change, such as RGB color values (255, 0, 0) or database keys. They are also lighter in memory compared to lists.

13.How do sets handle duplicate values in Python?
   - Sets automatically remove duplicate values. When a duplicate is added, it is ignored, ensuring all elements remain unique. This makes sets efficient for deduplication and mathematical operations.

14.How does the “in” keyword work differently for lists and dictionaries?
   - List: Checks whether a value exists in the list.
   - Dictionary: Checks whether a key exists in the dictionary.
   - To check for values in a dictionary, in dict.values() must be used.

15.Can you modify the elements of a tuple? Explain why or why not.
   - No, tuples are immutable and cannot be changed once created. However, if a tuple contains a mutable object (like a list), that object itself can still be modified.

16.What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary inside another dictionary.
   - Example:
     - students = {"101": {"name": "Alex", "marks": 90}}.
    - It is useful for representing hierarchical or structured data like JSON responses.

17.Describe the time complexity of accessing elements in a dictionary.
   - Average case: O(1) due to hashing. Worst case: O(n) if hash collisions occur. Python’s optimized hash function minimizes collisions, keeping access very efficient.

18.In what situations are lists preferred over dictionaries?
   - Lists are preferred when order matters, when index-based access is required, and when working with simple sequences of data. They are also better suited for iterative processing.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries do not rely on element order; values are accessed by keys. From Python 3.7 onwards, insertion order is preserved, but retrieval remains key-based rather than index-based.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
   - List: Data is retrieved by numeric index (e.g., list[0]).
   - Dictionary: Data is retrieved by key (e.g., dict["name"]). Dictionaries are better for labeled data, while lists are suited for ordered collections.

In [1]:
#Practicals Questions
#1. Write a code to create a string with your name and print it.
string = "Ridyanshi Chouhan"
print(string)

Ridyanshi Chouhan

In [2]:
#2. Write a code to find the length of the string "Hello World".
string = "Ridyanshi Chouhan"
print(len(string))

17

In [3]:
#3.  Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
string[0:3]

'Pyt'

In [7]:
#4. Write a code to convert the string "hello" to uppercase.
string = "hello"
string.upper()

'HELLO'

In [9]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [10]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
mylist = [1,2,3,4,5]
mylist

[1, 2, 3, 4, 5]

In [13]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
mylist = [1,2,3,4]
mylist.append(10)
mylist

[1, 2, 3, 4, 10]

In [14]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
mylist = [1,2,3,4,5]
mylist.remove(3)
mylist

[1, 2, 4, 5]

In [18]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
mylist = ['a', 'b', 'c', 'd']
mylist[1]

'b'

In [24]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
mylist = [10, 20, 30, 40, 50]
revlist = mylist[::-1]
revlist

[50, 40, 30, 20, 10]

In [26]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
mytuple = (100,200,300)
mytuple

(100, 200, 300)

In [27]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
mytuple = ('red', 'green', 'blue', 'yellow')
mytuple[-2]

'blue'

In [30]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
mytuple = (10, 20, 5, 15)
min(mytuple)

5

In [31]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
mytuple = ('dog', 'cat', 'rabbit')
mytuple.index("cat")

1

In [32]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit=("apple","kiwi","orange")
if "kiwi" in fruit:
  print('yes, kiwi in furits')
else:
  print('no, kiwi not in furits')

yes, kiwi in furits

In [33]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
myset = {'a','b','c'}
myset

{'a', 'b', 'c'}

In [36]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
myset = {1, 2, 3, 4, 5}
myset.clear()
myset

set()

In [39]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
myset = {1, 2, 3, 4}
myset.remove(4)
myset

{1, 2, 3}

In [41]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a= {1,2,3}
b= {3,4,5}
a | b

{1, 2, 3, 4, 5}

In [42]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a ={1,2,3}
b ={2,3,4}
a & b

{2, 3}

In [43]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dictionary = {"name":"Ram", "age": 21, "city":"Indore"}
dictionary

{'name': 'Ram', 'age': 21, 'city': 'Indore'}

In [44]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary = {'name': 'John', 'age': 25}
dictionary["country"]="USA"
dictionary

{'name': 'John', 'age': 25, 'country': 'USA'}

In [45]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary = {'name': 'Alice', 'age': 30}
dictionary["name"]

'Alice'

In [49]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary.pop('age')
dictionary

{'name': 'Bob', 'city': 'New York'}

In [50]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary = {'name': 'Alice', 'city': 'Paris'}
if "city" in dictionary:
  print("city exists in dictionary")
else:
  print("Not exists")

city exists in dictionary

In [54]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
dictionary = {"list": ['This','is','list'], "tuple":('This', 'is', 'Tuple')}
print(dictionary)
print(dictionary["list"])
print(dictionary["tuple"])

{'list': ['This', 'is', 'list'], 'tuple': ('This', 'is', 'Tuple')}
['This', 'is', 'list']
('This', 'is', 'Tuple')

In [76]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
num =[random.randint(1,100) for _ in range(5)]
num.sort()
num

[53, 58, 59, 83, 98]

In [78]:
#28. Write a code to create a list with strings and print the element at the third index.
text = "python"
char_list = list(text)
print(char_list[3])

h

In [84]:
#29. Write a code to combine two dictionaries into one and print the result.
d1 = {"name":"Ram","contact":'123456789'}
d2 = {"address":"indore"}
d3= {**d1,**d2}
#OR  d3 = d1|d2
print(d3)

{'name': 'Ram', 'contact': '123456789', 'address': 'indore'}

In [85]:
#30. Write a code to convert a list of strings into a set.
fruits = ["apple", "banana", "cherry", "mango", "grape"]
my_set = set(fruits)
type(my_set)

set